#files
htdocs/robots.txt
htdocs/protected/config/deploy.php
htdocs/protected/config/local.php
htdocs/protected/config/general.php
htdocs/protected/config/params.php
htdocs/protected/config/keys
.env
qqq
htdocs/index.php

#directories
htdocs/assets/*
htdocs/protected/runtime/*
htdocs/protected/deploy/*
htdocs/static/redefined/*
htdocs/static/uploads/communications/*
htdocs/static/uploads/modules/*
htdocs/static/uploads/tmp/*

#others
package-lock.json
nbproject/*
.idea/*
node_modules/*
npm-debug.log
*.DS_Store
logs/
.vscode/

